.question {
  border-bottom: 1px solid white;
  padding: 1rem 0;
}

.submit {
  background-color: #126e82;
  border-radius: 100px;
  width: 85%;
  text-align: center;
  font-weight: 500;
  color: white;
  padding: 16px 44px;
  margin: 0.8rem auto;
}


.submit:hover{
    cursor: pointer;
    background-color: #132C33;
}