.banner {
  background-color: #132c33;
  position: absolute;
  height: 110px;
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
  font-size: 30px;
  margin: auto auto;
  text-align: center;
  padding-top: 3.5rem;
}
